<!-- src/app/components/login/login.component.html -->
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="./assets/escuela.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form (ngSubmit)="onLogin()">
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sistema de evaluación Docente</h5>
                  
                  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="email" id="emailInput" name="email" class="form-control form-control-lg" placeholder="Ingrese su usuario" [(ngModel)]="email" required />
                    <label class="form-label" for="emailInput">Usuario</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="passwordInput" name="password" class="form-control form-control-lg" placeholder="Ingrese su clave" [(ngModel)]="password" required />
                    <label class="form-label" for="passwordInput">Clave</label>
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Entrar</button>
                  </div>
                </form>

                <p class="mb-5 pb-lg-2" style="color: #393f81;">
                  ¿No tienes cuenta? <a [routerLink]="['/register']" style="color: #393f81;">Regístrate aquí</a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
